[Unit]
Description=Domoticz Home Automation
After=network.target

[Service]
ExecStart=/opt/domoticz/domoticz -daemon -www 8077 -sslwww 9077
StandardOutput=null
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
